In [1]:
import os
import pickle
import sys
import warnings
from glob import glob
import re
import datetime
import itertools
from tqdm import tqdm
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.dates import date2num, DayLocator, DateFormatter
#from mpl_finance import candlestick2_ohlc, volume_overlay
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import lightgbm
import talib

In [2]:
dataset_dir="../data_dir/"

In [3]:
# 読み込むファイルを定義します。
inputs = {
    "stock_list": f"{dataset_dir}/stock_list.csv",
    "stock_price": f"{dataset_dir}/stock_price.csv",
    "stock_fin": f"{dataset_dir}/stock_fin.csv",
    # 本チュートリアルでは使用しないため、コメントアウトしています。
    # "stock_fin_price": f"{dataset_dir}/stock_fin_price.csv.gz",
    "stock_labels": f"{dataset_dir}/stock_labels.csv",
    "stock_fin_growth_rate": f"{dataset_dir}/stock_fin_growth_rate.csv",
    "train_X": f"{dataset_dir}/train_X.csv",
}

# ファイルを読み込みます
dfs = {}
for k, v in inputs.items():
    print(k)
    dfs[k] = pd.read_csv(v)
    # DataFrameのindexを設定します。
    if k == "stock_price":
        dfs[k].loc[:, "datetime"] = pd.to_datetime(
            dfs[k].loc[:, "EndOfDayQuote Date"]
        )
        dfs[k].set_index("datetime", inplace=True)
    elif k in ["stock_fin", "stock_fin_price", "stock_labels"]:
        dfs[k].loc[:, "datetime"] = pd.to_datetime(
            dfs[k].loc[:, "base_date"]
        )
        dfs[k].set_index("datetime", inplace=True)

stock_list
stock_price
stock_fin
stock_labels
stock_fin_growth_rate
train_X

In [4]:
train_X = dfs["train_X"]
len(train_X)

69626

In [5]:
stock_fin = dfs["stock_fin"]
len(stock_fin)

81797

In [6]:
stock_fin_dup = stock_fin[~stock_fin.duplicated(subset=['Local Code', 'Result_FinancialStatement ReportType',"Result_FinancialStatement FiscalYear"],keep='last')]
len(stock_fin_dup)

69863

In [7]:
stock_fin_growth_rate = dfs["stock_fin_growth_rate"]
len(stock_fin_growth_rate)

69626

In [8]:
stock_list = dfs["stock_list"]

In [9]:
train_X = stock_fin_growth_rate.merge(stock_list, on ="Local Code", how="left")

In [10]:
len(train_X)

69626

In [11]:
codes = stock_fin_dup["Local Code"].unique()
seasons = stock_fin_dup["Result_FinancialStatement ReportType"].unique()

In [12]:
len(codes)

3711

In [13]:
seasons

array(['Q3', nan, 'Q2', 'Annual', 'Q1'], dtype=object)

In [14]:
train_X_codes = train_X["Local Code"].unique().tolist()

In [15]:
codes_list = codes.tolist()

In [16]:
set(codes_list) ^ set(train_X_codes)

{7337, 7338, 7339}

In [17]:
stock_fin[stock_fin["Local Code"]==7337]

,base_date,Local Code,Result_FinancialStatement AccountingStandard,Result_FinancialStatement FiscalPeriodEnd,Result_FinancialStatement ReportType,Result_FinancialStatement FiscalYear,Result_FinancialStatement ModifyDate,Result_FinancialStatement CompanyType,Result_FinancialStatement ChangeOfFiscalYearEnd,Result_FinancialStatement NetSales,...,Result_Dividend DividendPayableDate,Result_Dividend QuarterlyDividendPerShare,Result_Dividend AnnualDividendPerShare,Forecast_Dividend FiscalPeriodEnd,Forecast_Dividend ReportType,Forecast_Dividend FiscalYear,Forecast_Dividend ModifyDate,Forecast_Dividend RecordDate,Forecast_Dividend QuarterlyDividendPerShare,Forecast_Dividend AnnualDividendPerShare
datetime,,,,,,,,,,,,,,,,,,,,,
2020-11-09,2020/11/09,7337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021/03,Annual,2021.0,2020/11/09,2021/03/31,12.0,24.0

In [18]:
stock_fin[stock_fin["Local Code"]==7338]

,base_date,Local Code,Result_FinancialStatement AccountingStandard,Result_FinancialStatement FiscalPeriodEnd,Result_FinancialStatement ReportType,Result_FinancialStatement FiscalYear,Result_FinancialStatement ModifyDate,Result_FinancialStatement CompanyType,Result_FinancialStatement ChangeOfFiscalYearEnd,Result_FinancialStatement NetSales,...,Result_Dividend DividendPayableDate,Result_Dividend QuarterlyDividendPerShare,Result_Dividend AnnualDividendPerShare,Forecast_Dividend FiscalPeriodEnd,Forecast_Dividend ReportType,Forecast_Dividend FiscalYear,Forecast_Dividend ModifyDate,Forecast_Dividend RecordDate,Forecast_Dividend QuarterlyDividendPerShare,Forecast_Dividend AnnualDividendPerShare
datetime,,,,,,,,,,,,,,,,,,,,,
2020-10-01,2020/10/01,7338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021/03,Annual,2021.0,2020/10/01,2021/03/31,19.0,19.0

In [19]:
stock_fin[stock_fin["Local Code"]==7339]

,base_date,Local Code,Result_FinancialStatement AccountingStandard,Result_FinancialStatement FiscalPeriodEnd,Result_FinancialStatement ReportType,Result_FinancialStatement FiscalYear,Result_FinancialStatement ModifyDate,Result_FinancialStatement CompanyType,Result_FinancialStatement ChangeOfFiscalYearEnd,Result_FinancialStatement NetSales,...,Result_Dividend DividendPayableDate,Result_Dividend QuarterlyDividendPerShare,Result_Dividend AnnualDividendPerShare,Forecast_Dividend FiscalPeriodEnd,Forecast_Dividend ReportType,Forecast_Dividend FiscalYear,Forecast_Dividend ModifyDate,Forecast_Dividend RecordDate,Forecast_Dividend QuarterlyDividendPerShare,Forecast_Dividend AnnualDividendPerShare
datetime,,,,,,,,,,,,,,,,,,,,,
2020-10-01,2020/10/01,7339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2021/03,Annual,2021.0,2020/10/01,2021/03/31,0.0,0.0

In [20]:
stock_fin[stock_fin["Local Code"]==np.nan]

Empty DataFrame
Columns: [base_date, Local Code, Result_FinancialStatement AccountingStandard, Result_FinancialStatement FiscalPeriodEnd, Result_FinancialStatement ReportType, Result_FinancialStatement FiscalYear, Result_FinancialStatement ModifyDate, Result_FinancialStatement CompanyType, Result_FinancialStatement ChangeOfFiscalYearEnd, Result_FinancialStatement NetSales, Result_FinancialStatement OperatingIncome, Result_FinancialStatement OrdinaryIncome, Result_FinancialStatement NetIncome, Result_FinancialStatement TotalAssets, Result_FinancialStatement NetAssets, Result_FinancialStatement CashFlowsFromOperatingActivities, Result_FinancialStatement CashFlowsFromFinancingActivities, Result_FinancialStatement CashFlowsFromInvestingActivities, Forecast_FinancialStatement AccountingStandard, Forecast_FinancialStatement FiscalPeriodEnd, Forecast_FinancialStatement ReportType, Forecast_FinancialStatement FiscalYear, Forecast_FinancialStatement ModifyDate, Forecast_FinancialStatement CompanyType, Forecast_FinancialStatement ChangeOfFiscalYearEnd, Forecast_FinancialStatement NetSales, Forecast_FinancialStatement OperatingIncome, Forecast_FinancialStatement OrdinaryIncome, Forecast_FinancialStatement NetIncome, Result_Dividend FiscalPeriodEnd, Result_Dividend ReportType, Result_Dividend FiscalYear, Result_Dividend ModifyDate, Result_Dividend RecordDate, Result_Dividend DividendPayableDate, Result_Dividend QuarterlyDividendPerShare, Result_Dividend AnnualDividendPerShare, Forecast_Dividend FiscalPeriodEnd, Forecast_Dividend ReportType, Forecast_Dividend FiscalYear, Forecast_Dividend ModifyDate, Forecast_Dividend RecordDate, Forecast_Dividend QuarterlyDividendPerShare, Forecast_Dividend AnnualDividendPerShare]
Index: []

[0 rows x 44 columns]

In [26]:
# pd_A = pd_A.merge(pd_B, on=['col1','col2'], how='left', indicator=True)
# pd_A['col3'] = pd_A['_merge'] == 'both'
# pd_A = pd_A.drop(columns='_merge')
# print(pd_A)
train_test = stock_fin_dup.merge(train_X, on =["Local Code","Result_FinancialStatement ReportType"], how = "left",indicator=True)
train_test.columns
train_test[train_test["_merge"] == "left_only"]

,base_date_x,Local Code,Result_FinancialStatement AccountingStandard_x,Result_FinancialStatement FiscalPeriodEnd_x,Result_FinancialStatement ReportType,Result_FinancialStatement FiscalYear_x,Result_FinancialStatement ModifyDate_x,Result_FinancialStatement CompanyType_x,Result_FinancialStatement ChangeOfFiscalYearEnd_x,Result_FinancialStatement NetSales_x,...,33 Sector(Code),33 Sector(name),17 Sector(Code),17 Sector(name),Size Code (New Index Series),Size (New Index Series),IssuedShareEquityQuote AccountingStandard,IssuedShareEquityQuote ModifyDate,IssuedShareEquityQuote IssuedShare,_merge
5,2016/01/04,4591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,2016/01/04,6786,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,2016/01/05,5216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,2016/01/05,6788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,2016/01/06,2303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
81,2016/01/07,3185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
107,2016/01/07,6489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
133,2016/01/07,9765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
139,2016/01/07,9812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
145,2016/01/08,1401,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
181,2016/01/08,2722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
202,2016/01/08,3181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
223,2016/01/08,3315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
274,2016/01/08,5423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
346,2016/01/08,7879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
402,2016/01/08,9647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
479,2016/01/12,2796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
480,2016/01/12,3020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
537,2016/01/12,6064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
670,2016/01/13,2831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
718,2016/01/13,4321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
719,2016/01/13,4616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
760,2016/01/13,8053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
761,2016/01/13,8095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
787,2016/01/13,9972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1031,2016/01/14,7997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1072,2016/01/15,2487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1083,2016/01/15,3199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1084,2016/01/15,3909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1095,2016/01/15,5819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28577,2016/05/13,7186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
34048,2016/07/27,2296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
44480,2016/08/16,3544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46708,2016/10/07,3546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
57762,2016/11/08,7189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
63665,2016/11/21,3549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
63930,2016/12/06,4596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
65124,2017/01/04,6542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
76828,2017/02/14,3975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
121036,2017/11/01,9263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
131085,2017/12/01,9265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
132031,2017/12/21,9267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
132452,2018/01/09,1443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
152281,2018/04/27,7321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
164306,2018/05/15,7322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
178348,2018/08/10,4392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
182156,2018/10/01,1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
182197,2018/10/01,7040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
182198,2018/10/01,7327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
183212,2018/10/11,9278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
195291,2018/11/09,6699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
198284,2018/11/14,1447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
198819,2018/11/14,5290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
216523,2019/04/04,4433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
249692,2019/09/02,7679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
251086,2019/10/01,7070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
304241,2020/07/01,2986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
320219,2020/10/01,7338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
320220,2020/10/01,7339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
331966,2020/11/09,7337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [29]:
stock_fin_dup[stock_fin_dup["Local Code"] == 9265]

,base_date,Local Code,Result_FinancialStatement AccountingStandard,Result_FinancialStatement FiscalPeriodEnd,Result_FinancialStatement ReportType,Result_FinancialStatement FiscalYear,Result_FinancialStatement ModifyDate,Result_FinancialStatement CompanyType,Result_FinancialStatement ChangeOfFiscalYearEnd,Result_FinancialStatement NetSales,...,Result_Dividend DividendPayableDate,Result_Dividend QuarterlyDividendPerShare,Result_Dividend AnnualDividendPerShare,Forecast_Dividend FiscalPeriodEnd,Forecast_Dividend ReportType,Forecast_Dividend FiscalYear,Forecast_Dividend ModifyDate,Forecast_Dividend RecordDate,Forecast_Dividend QuarterlyDividendPerShare,Forecast_Dividend AnnualDividendPerShare
datetime,,,,,,,,,,,,,,,,,,,,,
2017-12-01,2017/12/01,9265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2017/11,Q2,2018.0,2017/12/01,NaN,0.0,NaN
2018-07-03,2018/07/03,9265,ConsolidatedJP,2018/02,Q3,2018.0,2018/03/30,GB,False,41552.0,...,NaN,NaN,NaN,2017/11,Q2,2018.0,2017/12/01,NaN,0.0,NaN
2018-07-11,2018/07/11,9265,ConsolidatedJP,2018/05,Annual,2018.0,2018/07/11,GB,False,58692.0,...,2018/08/29,26.0,26.0,2018/11,Q2,2019.0,2018/07/11,NaN,0.0,NaN
2018-09-28,2018/09/28,9265,ConsolidatedJP,2018/08,Q1,2019.0,2018/09/28,GB,False,14276.0,...,2018/08/29,26.0,26.0,2018/11,Q2,2019.0,2018/07/11,NaN,0.0,NaN
2019-01-07,2019/01/07,9265,ConsolidatedJP,2018/11,Q2,2019.0,2019/01/07,GB,False,29387.0,...,NaN,0.0,NaN,2019/05,Annual,2019.0,2019/01/07,2019/05/31,24.0,24.0
2019-07-04,2019/07/04,9265,ConsolidatedJP,2019/02,Q3,2019.0,2019/03/29,GB,False,44374.0,...,NaN,0.0,NaN,2019/05,Annual,2019.0,2019/07/04,2019/05/31,40.0,40.0
2019-07-12,2019/07/12,9265,ConsolidatedJP,2019/05,Annual,2019.0,2019/07/12,GB,False,61533.0,...,2019/08/29,42.0,42.0,2019/11,Q2,2020.0,2019/07/12,NaN,0.0,NaN
2019-09-30,2019/09/30,9265,ConsolidatedJP,2019/08,Q1,2020.0,2019/09/30,GB,False,15980.0,...,2019/08/29,42.0,42.0,2019/11,Q2,2020.0,2019/09/30,NaN,0.0,NaN
2020-01-08,2020/01/08,9265,ConsolidatedJP,2019/11,Q2,2020.0,2020/01/08,GB,False,33092.0,...,NaN,0.0,NaN,2020/05,Annual,2020.0,2020/01/08,2020/05/31,45.0,45.0
2020-03-31,2020/03/31,9265,ConsolidatedJP,2020/02,Q3,2020.0,2020/03/31,GB,False,47946.0,...,NaN,0.0,NaN,2020/05,Annual,2020.0,2020/03/31,2020/05/31,45.0,45.0
2020-07-13,2020/07/13,9265,ConsolidatedJP,2020/05,Annual,2020.0,2020/07/13,GB,False,64658.0,...,2020/08/31,54.0,54.0,2020/11,Q2,2021.0,2020/07/13,NaN,0.0,NaN
2020-09-29,2020/09/29,9265,ConsolidatedJP,2020/08,Q1,2021.0,2020/09/29,GB,False,15528.0,...,2020/08/31,54.0,54.0,2020/11,Q2,2021.0,2020/07/13,NaN,0.0,NaN